<div class="table-responsive">
`    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Tên câu hỏi</th>
          <th scope="col">điểm</th>
          <th scope="col"><a routerLink='add/{{param}}'  class="btn btn-primary">+Add</a></th>     
        </tr>
      </thead>
      <tbody *ngIf="list.length > 0 ">    
      
        <tr  *ngFor="let item of list">
          <td>{{item.id}}</td>        
          <td>{{item.Text}}</td>        
          <td>{{item.Marks}}</td>
          <td>
            <a [routerLink]="'edit/'+param+'/'+item.id" class="btn btn-info">edit</a> 
          </td>  
          <td>
            <a (click)="handleDelete(item.id)" class="btn btn-danger">delete</a>
          </td>  
         
        </tr>
    
       
      </tbody>
    </table>
  </div>