<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<div class="registration-form">
    <form class="form-horizontal" [formGroup]='formRegister' (submit)="Onsubmit()">
   <a routerLink="" class="fs-5">
    <i class="fas fa-home"></i>
   </a>

        <h3 class="text-center">ĐĂNG KÝ</h3>

        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>
        
        <div class="form-group item">
            <input type="text" class="form-control " 
            [ngClass]="{'is-invalid':formRegister.controls['name'].invalid
            && ( formRegister.controls['name'].dirty
            || formRegister.controls['name'].touched ) }"
            formControlName="name"
            placeholder="full name">
            <span class="invalid-feedback"  *ngIf="formRegister.controls['name'].hasError('required')">* trường này không được để trống</span>
        </div>
        
        <div class="form-group item">
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid':formRegister.controls['email'].invalid
            && ( formRegister.controls['email'].dirty
            || formRegister.controls['email'].touched ) }"
            formControlName="email"
            placeholder="Email">
            <span class="invalid-feedback" *ngIf="formRegister.controls['email'].hasError('required')">* email không được để trống</span>
        </div>

        <div class="form-group item">
            <input type="password" class="form-control " 
            [ngClass]="{'is-invalid':formRegister.controls['password'].invalid
            && ( formRegister.controls['password'].dirty
            || formRegister.controls['password'].touched ) }"
            formControlName="password"
            placeholder="Password">
            <span class="invalid-feedback" *ngIf="formRegister.controls['password'].hasError('required')">* trường này không được để trống</span>
        </div>
     
        <div class="form-group item">
            <button type="submit" [disabled]="formRegister.invalid" class="btn btn-primary create-account">Đăng Ký</button>
        </div>

    </form>
    <div class="social-media">
        <h5>bạn đã có tài khoản <a routerLink="/login"> đăng nhập </a> ngay </h5>
        <div class="social-icons">
            <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
            <a href="#"><i class="icon-social-google" title="Google"></i></a>
      
        </div>
    </div>
</div>