 
      <div class="form-group">
        <input type="text" class="form-control" (keyup)="searchSubject($event)"  placeholder="tìm kiếm môn học">
            </div> 
            <br> 
            <br> 
    <h2 class="text-center"><img width="100px" src="https://tse2.mm.bing.net/th?id=OIP.JWcKdjkJlUbPCu8Z2lKHzgHaH3&pid=Api&P=0&w=174&h=184" alt="">ngular</h2>
  
       <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
         
            <div class="col listSubject" *ngFor="let item of listSubject">
              <a  (click)="takeQuiz(item.Code)" style="cursor: pointer">      
              <div class="list-card card card-cover h-100 overflow-hidden text-white rounded-5 shadow-lg" style="background-image: url('./assets/images/logos/{{item.Code}}.jpg');
              background-repeat: no-repeat;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-dark text-shadow-1">
                  <h2 class=" h2 mb-4 display-6 lh-1 fw-bold">{{item.Name}}</h2>
                  <ul class="d-flex list-unstyled mt-auto">
                                     
                    <li class="d-flex align-items-center me-3">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                      <a  (click)="takeQuiz(item.Code)"  class="btn hoc btn-primary">Làm bài</a>
                    </li>
                    <li class="d-flex align-items-center">
                      <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                      <small>code : {{item.Code}}</small>
                    </li>
                  </ul>
                </div>
              </div>
            </a>
            </div>
         
          </div>


          


          