<div class="row">
  <h3>{{note}}</h3>

  <!-- {{formStudent|json}}   -->
  <div class="container-sm" >
    <div class="form-group">
      <label for="">Họ tên</label>
      <input type="text" class="form-control" 
      [(ngModel)]="formStudent.name" #Name="ngModel" required>    
   <span
   class="text-danger" 
   *ngIf="Name.invalid && 
    (Name.dirty || Name.touched) ">không được để trống</span>
 
</div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" [(ngModel)]="formStudent.email" required email  #Email="ngModel">

      <div  *ngIf="Email.invalid &&
      (Email.dirty ||
      Email.touched) ">
       <span
       class="text-danger"
       *ngIf="Email.errors?.['required'] ">
        không được để trống
       </span>  
       <span
       class="text-danger"
       *ngIf="Email.errors?.['email'] ">
       email không đúng định dạng
       </span>  

      </div>
     
    
    </div>

    <div class="form-group">
      <label for="">password</label>
      <input type="password" class="form-control" required [(ngModel)]="formStudent.password" #Pass="ngModel">
      <span
      class="text-danger"
      *ngIf="Pass.errors?.['required'] &&
       (Pass.dirty || Pass.touched) ">không được để trống</span>
    </div>

    <div class="form-group">
      <br>
      <button class="btn btn-primary" [disabled]="Name.errors || Email.errors || Pass.errors" (click)="save()">lưu</button>
      <a routerLink="/admin/students" class="btn btn-secondary ms-2">quay lại</a>
    </div>
  </div>
</div>
