<div class="container">
    <div *ngIf="isLoading==false">
    <h1 class="text-center"> <img width="400" src="../assets/images/gif/loading__.gif" alt=""> </h1>

    </div>
<div *ngIf="isLoading==true">
    <h1 class="text-center" *ngIf="Score >= 6.5"> <img width="300" src="../assets/images/gif/cup.gif" alt=""> </h1>
    <h1 class="text-center" *ngIf="Score < 5 "> <img width="300" src="../assets/images/gif/fail.gif" alt=""> </h1>
    <h1 class="text-center">Kết quả bài thi  </h1>
    <h3 class="text-center text-info">Tên :  {{Username}}</h3>
    <h3 class="text-danger text-center">Môn học: {{NameSubject}} </h3>
    <h3 class="text-center">Điểm : {{Score}}</h3>   
</div>

</div>
