<div class="row">
  <h3>{{note}}</h3>
  <br>
  <br>
  <br>
  <div class="container-sm" >
       <!-- {{Questions|json}} -->
    <div class="form-group">
      <label for="">Câu Hỏi</label>
      <input type="text" [(ngModel)]="Questions.Text" #Text="ngModel" required  
       [ngClass]="{'is-invalid':Text.invalid && (Text.touched||Text.dirty)}"  class="form-control">
      <span id="helpId" class=" text-danger" *ngIf="Text.invalid && (Text.touched||Text.dirty)">vui lòng điền đầy đủ</span>
    </div>
    
<!-- thêm câu hỏi -->
  <br>

   <div *ngIf="display==false" class="form-group">
      <button class="btn btn-primary" (click)="CreateAnswers()" title="thêm câu hỏi">+</button>
    </div>
    <br>

    <!--input sửa câu Hỏi -->
<div *ngIf="display==true">
  <div  class="form-group" *ngFor="let item of Questions.answers ; index as i ">   
        <label [for]="item.id" class="form-control" style="border:none">
           <div class="row">
        <div class="col-md-1"  >
          <input type="radio"    *ngIf="Questions.AnswerId===item.id" checked (click)="ChangeUpdate(item.id)"  [name]="param" [id]="item.id">
          <input type="radio"    *ngIf="Questions.AnswerId!==item.id" (click)="ChangeUpdate(item.id)"  [name]="param" [id]="item.id">     
        </div>      
        <div class="col-md-11">
          <input type="text" (keyup)="ChangeText($event, i)" class="form-control" [value]="item.Text">
        </div>
       </div>
      </label>
    </div>
</div>

<!--input Thêm câu hỏi -->

<div *ngIf="display==false">
    <div  class="form-group" *ngFor="let item of Questions.answers ; index as i ">
      <label  class="form-control" style="border:none">
           <div class="row">
        <div class="col-md-1">  
          <input  type="radio" (click)="ChangeAnswer(i)"   name="code" >
        </div>
        <div class="col-md-9">
          <input type="text" required  (keyup)="ChangeText($event, i)"   class="form-control">  
        </div>
        <div class="col-md-2"> 
          <span class="btn btn-danger" (click)="HandlerDeleteQuestion(i)">X</span>
        </div>
       </div>
      </label>
    </div>
</div>

<br>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="Text.invalid" (click)="Save()">lưu</button> &nbsp;
      <a [routerLink]="'/admin/questions/'+code" class="btn btn-secondary">quay lại</a>
    </div>
  </div>
</div>
