<div class="row">
    <h3>{{note}}</h3>
<div class="container-sm" [formGroup]="FormQuestions">
  {{FormQuestions.value|json}}
    <div class="form-group">
      <label for="">Text</label>
      <input type="text" formControlName="Text" class="form-control" >
      <small id="helpId" class="text-muted is-feedback"></small>
    </div>
    <div class="form-group">
      <label for="">mark</label>
      <input type="text" name="" id="" formControlName="mark" class="form-control" >
      <small id="helpId" class="text-muted is-feedback"></small>
    </div>
   
    <div class="form-group">
      <h3>Đáp án</h3>
     <div class="form-group" *ngFor="let item of list">
      <!-- <label for="">email</label> -->
      <input type="text" name="" id="" class="form-control" >
      <small id="helpId" class="text-muted is-feedback"></small>
     </div>
    </div>
    <div class="form-group">
      <br>
      <button class="btn btn-primary">lưu</button>
    <!-- <a routerLink="/admin/questions/" class="btn btn-secondary ms-2">quay lại</a> -->
    </div>
</div>
</div>

