
  
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>     
    </div>
   

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon bg-primary bg-dark">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
          </div>
          <h2>Môn Học   <i class="ion ion-folder"></i></h2>
          <p>+ 25</p>
          <a routerLink="/admin/subjects" class="icon-link">
          xem thêm
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-info">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
          </div>
          <h2>Học viên     <i class="ion ion-person-add "></i></h2>
          <p>+ 150</p>
          <a routerLink="/admin/students"class="icon-link">
          xem thêm
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon bg-primary bg-gradient">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
          </div>
          <h2>Câu hỏi <i class="fa-solid fa-question"></i></h2>
          <p>+ 1207</p>
          <a  class="icon-link">
          xem thêm
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>

 